body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

sup {
  font-size: 58.3%;
  vertical-align: text-top;
}

sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}

.displace {
  left: -5000px;
  position: absolute;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  color: #97999b;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}

.main-container {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%;
  background: #292c34 center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  overflow: hidden;
  position: relative;
  z-index: 85;
  min-height: 90px;
  padding: 23px 89px 27px 108px;
  background: #24242c;
}

.logo {
  float: left;
  width: 111;
  height: 40;
}

.unsubscribe-button {
  float: right;
  margin: 16px 9px 0 0;
  width: 83px;
}

.main-content-wrapper {
  margin: -1px 0 0;
  position: relative;
  z-index: 11;
}

.slider {
  padding: 1px 0 0;
  position: relative;
  z-index: 73;
  background: #97999b;
}

.learn-more-section {
  min-height: 450px;
  padding: 156px 0 125px;
  position: relative;
  background: #feb600b3;
}

.learn-more-title {
  color: #ffffff;
  font-size: 2.1875rem;
  text-align: center;
}

.learn-more-description {
  margin: 25px 0 0;
  color: #24242c;
  font-size: 0.9375rem;
  text-align: center;
}

.learn-more-button {
  color: #ffffff;
}

.button {
  height: 48px;
  margin: 44px auto 0;
  position: relative;
  width: 162px;
}

.path {
  height: 46px;
  left: 50%;
  position: absolute;
  top: 1px;
  width: 160px;
  -webkit-border-radius: 4px 3px 3px 4px/4px;
  -moz-border-radius: 4px 3px 3px 4px/4px;
  border-radius: 4px 3px 3px 4px/4px;
  background: #24242c;
  margin-left: -80px;
}

.arrow-icon {
  float: right;
  margin: 2px 1px 0 0;
  width: 5;
  height: 9;
}

.content {
  min-height: 428px;
  padding: 27px 105px;
  position: relative;
  z-index: 40;
  background: #ffffff;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.content > * {
  float: left;
  margin: 0 10px 0 0;
}

.content > *:last-child {
  margin-right: 0 !important;
}

.offer-container {
  position: relative;
  width: 190px;
}

.offer-image {
  height: 150px;
  position: relative;
  background-color: #24242c;
}

.icon {
  float: left;
  margin: 1px 9px 0 0;
  width: 9;
  height: 12;
}

.serif-font {
  font-family: Lora, serif;
}

.button-holder {
  margin: 13px 0 0;
  min-height: 37px;
  padding: 0 13px;
  position: relative;
  width: 129px;
  background: url(images/background_button.png) no-repeat;
  color: #ffb600;
  font-weight: 600;
  line-height: 37px;
  text-align: center;
}

.text-card-title {
  margin: 0 auto 11px;
  color: #24242c;
  font-size: 1.25rem;
  font-weight: 600;
}

.offer-text-wrapper {
  margin: 21px 0 0;
  position: relative;
}

.quote {
  overflow: hidden;
  padding: 0 0 1px;
  position: relative;
  z-index: 29;
  background: #97999b;
}

.quote-container {
  min-height: 280px;
  padding: 95px 0 63px;
  position: relative;
  background: rgba(36, 36, 44, 0.7);
}

.qoute-text {
  color: #ffffff;
  font-size: 2.1875rem;
  text-align: center;
}

.watch-video-button {
  height: 47px;
  margin: 34px auto 0;
  position: relative;
  width: 163px;
}

.watch-video-background {
  height: 46px;
  left: 50%;
  position: absolute;
  top: 1px;
  width: 160px;
  -webkit-border-radius: 3px 4px 4px 3px/3px 3px 4px 4px;
  -moz-border-radius: 3px 4px 4px 3px/3px 3px 4px 4px;
  border-radius: 3px 4px 4px 3px/3px 3px 4px 4px;
  background: #ffb600;
  margin-left: -79.5px;
}

.row {
  left: 50%;
  min-height: 47px;
  padding: 16px 37px 18px;
  position: absolute;
  top: 0;
  width: 163px;
  background: url(images/background_button_border.png) no-repeat;
  margin-left: -81.5px;
}

.watch-video-text {
  float: left;
  margin: 0 2px 0 0;
  width: 78px;
  color: #24242c;
}

.offer {
  min-height: 430px;
  position: relative;
  z-index: 11;
  background: #ffffff;
}

.offer-background {
  float: left;
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
}

.add-image-here {
  float: left;
  height: 430px;
  width: 50%;
  background-color: #97999b;
}

.content-text {
  margin: 20px 0 0 3px;
  width: 216px;
  line-height: 1.2;
}

.amount-text {
  margin: 23px 0 0 4px;
  color: #24242c;
  font-size: 1.25rem;
  font-weight: 600;
}

.footer {
  position: relative;
  z-index: 3;
}

.footer-container {
  min-height: 98px;
  padding: 22px 109px 36px;
  position: relative;
  background: #24242c;
}

.sub-logo {
  float: left;
  width: 53;
  height: 40;
}

.licence-text {
  float: left;
  margin: 21px 0 0 9px;
  color: #797c82;
  font-weight: 300;
  letter-spacing: -0.04em;
  text-align: center;
}

.contact-us-button {
  float: right;
  margin: 23px 36px 0 0;
  max-width: 13;
  max-height: 13;
}

.text-style {
  color: #ffb600;
  font-family: Lora, serif;
}

.text-style-italic {
  color: #ffb600;
  font-family: Lora, serif;
  font-style: italic;
}
